#----------------------------------------------------------
# Application Main Configurations
#----------------------------------------------------------
.env
docker-compose.yml

#----------------------------------------------------------
# Directories
#----------------------------------------------------------
node_modules
npm-debug.log

#----------------------------------------------------------
# IDE
#----------------------------------------------------------
/.vscode/
/.idea
/nbproject/*